"$schema" = 'https://starship.rs/config-schema.json'

palette = "catppuccin_mocha"
add_newline = true
format = """
$cmd_duration\
$username\
$hostname\
$localip\
$shlvl\
$singularity\
$kubernetes\
$directory\
$vcsh\
$fossil_branch\
$fossil_metrics\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$hg_branch\
$pijul_channel\
$docker_context\
$package\
$c\
$cmake\
$cobol\
$daml\
$dart\
$deno\
$dotnet\
$elixir\
$elm\
$erlang\
$fennel\
$golang\
$guix_shell\
$haskell\
$haxe\
$helm\
$java\
$julia\
$kotlin\
$gradle\
$lua\
$nim\
$nodejs\
$ocaml\
$opa\
$perl\
$php\
$pulumi\
$purescript\
$python\
$quarto\
$raku\
$rlang\
$red\
$ruby\
$rust\
$scala\
$solidity\
$swift\
$terraform\
$typst\
$vlang\
$vagrant\
$zig\
$buf\
$nix_shell\
$conda\
$meson\
$spack\
$memory_usage\
$aws\
$gcloud\
$openstack\
$azure\
$direnv\
$env_var\
$crystal\
$custom\
$sudo\
$line_break\
$jobs\
$battery\
$time\
$status\
$os\
$container\
$shell\
$character"""

[character]
success_symbol = '[->](bold teal)'
error_symbol = '[->](bold red)'
vimcmd_symbol = "[=>](bold blue)"
vimcmd_visual_symbol = "[=>](bold maroon)"
vimcmd_replace_symbol = "[->](bold maroon)"
vimcmd_replace_one_symbol = "[->](bold maroon)"

[package]
format = "version\\([$version]($style)\\) "
style = "mauve"
disabled = false

[battery]
disabled = true

[directory]
style = "mauve bold"

[cmd_duration]
format = "[$duration]($style) "
min_time = 0
style = "yellow"

[rust]
format = "rust\\([$version]($style)\\) "
style = "mauve"

[nodejs]
format = "node(\\([$version]($style)\\)) "
style = "mauve"

[lua]
format = "lua\\([$version]($style)\\) "
style = "mauve"

[zig]
format = "zig\\([$version]($style)\\) "
style = "mauve"

[gcloud]
format = "gcloud\\([$account(@$domain)]($style)\\) "
style = "mauve"
disabled = false

[php]
format = "php(\\([$version]($style)\\)) "
style = "mauve"

[git_branch]
format = "git\\([$branch(:$remote_branch)]($style)\\) "
style = "mauve"

[git_state]
format = "\\([$state( $progress_current/$progress_total)]($style)\\) "
disabled = true

[git_status]
disabled = false
style = "green"

modified = "~${count} "
staged = "+${count} "
deleted = "-${count} "
renamed = "*${count} "
stashed = "\\$${count} "
untracked = "?${count} "
ahead = "+${count}"
diverged = "+${ahead_count}-${behind_count}"
behind = "-${count}"

format = """
(\
[$modified](sapphire)\
[$staged](green)\
[$deleted](red)\
[$renamed](blue)\
[$stashed](mauve)\
[$untracked](peach)\
)\
({[$ahead_behind](mauve)} )\
"""

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
